<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeatTechs</title>
  <link rel="stylesheet" href="/css/new.css">
</head>
<body>
  <h1 class="new-head">Add new Course</h1>
  <div class="new">
    <form action="/courses" method="POST">
    <input type="text" placeholder="Enter title" name="title">
    <input type="text" placeholder="Enter subtitle" name="subtitle">
    <textarea name="description" placeholder="Enter description of the course"></textarea>
    <input type="text" placeholder="Enter image URL" name="image">
    <input type="text" placeholder="Enter price" name="price">
    <button>submit</button>
   </form> 
  </div>
    
</body>
</html>